<ion-view view-title="Dashboard" hide-nav-bar='true'>
  <ion-content delegate-handle="mycontent">
         <img src="img/mike.png" style="width: 100%;">
     <ul class="list">

        <li class="item" item-click-ripple>
          Battletoads
        </li>
        <li class="item" item-click-ripple>
          Contra
        </li>
        <li class="item" item-click-ripple>
          Duck Tales
        </li>
        <li class="item" item-click-ripple>
          Mega Man
        </li>
        <li class="item" item-click-ripple>
          Metroid
        </li>
        <li class="item" item-click-ripple>
          Mike Tyson's Punch-Out
        </li>
        <li class="item" item-click-ripple>
          R.C. Pro-Am
        </li>
        <li class="item" item-click-ripple>
          Spy Hunter
        </li>
        <li class="item" item-click-ripple>
          Super Mario Bros.
        </li>
        <li class="item" item-click-ripple>
          The Legend of Zelda
        </li>
         <li class="item" item-click-ripple>
          Metroid
        </li>
        <li class="item" item-click-ripple>
          Mike Tyson's Punch-Out
        </li>
        <li class="item" item-click-ripple>
          R.C. Pro-Am
        </li>
        <li class="item" item-click-ripple>
          Spy Hunter
        </li>
        <li class="item" item-click-ripple>
          Super Mario Bros.
        </li>
        <li class="item" item-click-ripple>
          The Legend of Zelda
        </li>
         <li class="item" item-click-ripple>
          Metroid
        </li>
        <li class="item" item-click-ripple>
          Mike Tyson's Punch-Out
        </li>
        <li class="item" item-click-ripple>
          R.C. Pro-Am
        </li>
        <li class="item" item-click-ripple>
          Spy Hunter
        </li>
        <li class="item" item-click-ripple>
          Super Mario Bros.
        </li>
        <li class="item" item-click-ripple>
          The Legend of Zelda
        </li>
         <li class="item" item-click-ripple>
          Metroid
        </li>
        <li class="item" item-click-ripple>
          Mike Tyson's Punch-Out
        </li>
        <li class="item" item-click-ripple>
          R.C. Pro-Am
        </li>
        <li class="item" item-click-ripple>
          Spy Hunter
        </li>
        <li class="item" item-click-ripple>
          Super Mario Bros.
        </li>
        <li class="item" item-click-ripple>
          The Legend of Zelda
        </li>
         <li class="item" item-click-ripple>
          Metroid
        </li>
        <li class="item" item-click-ripple>
          Mike Tyson's Punch-Out
        </li>
        <li class="item" item-click-ripple>
          R.C. Pro-Am
        </li>
        <li class="item" item-click-ripple>
          Spy Hunter
        </li>
        <li class="item" item-click-ripple>
          Super Mario Bros.
        </li>
        <li class="item" item-click-ripple>
          The Legend of Zelda
        </li>
      </ul>

  </ion-content>

  <ion-header-bar align-title="center" no-tap-scroll='true' translucent-bar="mycontent" translucent-color-opacity="0.01" translucent-color="rgb(238, 187, 17)" translucent-scroll-maxtop="88"> 
  <div class="buttons">
    <button class="button button-icon icon ion-navicon" icon-click-round-ripple icon-round-ripple-width="20" icon-round-ripple-color="red" style="color:white"></button>
  </div>
  <h1 class="title" style="color:white">Dashboard</h1>
  <div class="buttons">
     <button class="button button-icon icon ion-android-notifications" head-red-point='true' icon-click-round-ripple style="color:white"></button>
  </div>
</ion-header-bar>

</ion-view>
