<ion-view view-title="Account" hide-back-button="false" hide-nav-bar='true' hide-show-nav-bar>
  
<ion-header-bar align-title="center" no-tap-scroll='true' class="bar-positive">
        <div class="buttons">
          <button class="button button-icon icon ion-android-arrow-back"></button>
        </div>
        <h1 class="title">Title</h1>
        <div class="buttons">
          <button class="button button-icon icon ion-navicon"></button>
        </div>
    </ion-header-bar>
  <ion-content>
    <ul class="list">

        <li class="item">
          Battletoads
        </li>
        <li class="item">
          Contra
        </li>
        <li class="item">
          Duck Tales
        </li>
        <li class="item">
          Mega Man
        </li>
        <li class="item">
          Metroid
        </li>
        <li class="item">
          Mike Tyson's Punch-Out
        </li>
        <li class="item">
          R.C. Pro-Am
        </li>
        <li class="item">
          Spy Hunter
        </li>
        <li class="item">
          Super Mario Bros.
        </li>
        <li class="item">
          The Legend of Zelda
        </li>

      </ul>
  </ion-content>

 
</ion-header-bar>
</ion-view>
